
@{
    ViewData["Title"] = "Index";
}

<body>

    <section class="article-wrap" style="background-image: url(./images/bg_4.jpg); ">
        <div class="overlay">
        </div>
        <div class="container">
            <div class="row align-items-end justify-content-center">
                <div class="col-md-9 pb-5 text-center">
                    <h1 class="mb-3">About Us</h1>
                    <p class="items">
                        <span class="mr-2">
                            <a href="index.html">Home</a>
                            <i class="fa-solid fa-angle-right"></i>

                        </span>
                        <span>
                            About Us
                            <i class="fa-solid fa-angle-right"></i>
                        </span>
                    </p>

                </div>

            </div>

        </div>

    </section>

    <section class="about about-no-pt about-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                    <div class="image d-flex">
                        <a href="single.html"> <img src="~/./images/image_6.jpg" alt=""></a>

                    </div>
                </div>
                <div class="col-md-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading">
                            <h2 class="mb-4">About Us</h2>
                            <p>
                                At <em>Sweet Bites</em>, we are passionate about creating memorable dining
                                experiences
                                for our guests. Nestled in the heart of <em>Azerbaijan</em>, our restaurant offers a
                                warm
                                and inviting ambiance that complements our exquisite cuisine. Whether you're joining
                                us for a special celebration, a casual dinner with friends, or a romantic evening
                                for two, we aim to make every visit extraordinary.

                            </p>

                        </div>

                    </div>
                    <div class="row">
                        <div class="wrapper">
                            <div class="part1">
                                <div class="container">
                                    <i class="fab fa-twitter"></i>
                                    <span class="num" data-val="350">000</span>
                                    <span class="text">Followers</span>
                                </div>
                                <div class="container">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="num" data-val="250">000</span>
                                    <span class="text">Followers</span>
                                </div>
                            </div>
                            <div class="part2">
                                <div class="container">
                                    <i class="fab fa-youtube"></i>
                                    <span class="num" data-val="325">000</span>
                                    <span class="text">Followers</span>
                                </div>
                                <div class="container">
                                    <i class="fab fa-instagram"></i>
                                    <span class="num" data-val="275">000</span>
                                    <span class="text">Followers</span>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>




            </div>



        </div>
        </div>

    </section>

    <section class="about2 about2-no-pt about2-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading2">
                            <p>
                                We believe that dining is not just about satisfying hunger; it's an experience that
                                should delight all your senses. Our restaurant was founded with a passion for
                                bringing people together over exceptional food, warm hospitality, and a comfortable
                                ambiance. We take pride in offering a memorable and enjoyable dining experience for
                                all our guests.

                                Our Culinary Excellence:
                                Led by our talented and experienced executive chef, our kitchen is a hub of
                                creativity and innovation. We curate a menu that celebrates the rich tapestry of
                                flavors from around the world, while also cherishing local and seasonal ingredients.
                                Every dish is thoughtfully crafted with attention to detail, ensuring that each bite
                                is a delightful journey of taste.
                                Our Culinary Philosophy:
                                Led by our talented team of chefs, our culinary philosophy revolves around the
                                concept of combining traditional recipes with innovative techniques. We source only
                                the freshest, locally-sourced ingredients to ensure that every dish is a celebration
                                of flavors, textures, and aromas. Our commitment to quality and authenticity shines
                                through in every bite, as we strive to offer a diverse menu that caters to different
                                palates and dietary preferences.



                            </p>

                        </div>

                    </div>



                </div>
                <div class="col-md-6 d-flex">
                    <div class="image2 d-flex">
                        <a href="single.html"> <img src="~/./images/blog-2.jpg" alt=""></a>

                    </div>
                </div>





            </div>



        </div>
        </div>

    </section>






    <section class="advertisment" id="section-counter" style="background-image: url(images/bg_4.jpg);
        background-position: 50% -189px; filter: grayscale(10%); opacity: 1;">
        <div class="background-overlay">
            <div class="container">
                <!-- <h1>Love the delicious and tasty foods</h1> -->
                <h1>Subcribe to our Newsletter</h1>
                <p>
                    A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                    is <br> a
                    paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
                <div class="row d-flex justify-content-center mt-4 mb-4">
                    <div class="col-md-8">
                        <form action="">
                            <div class="form-group d-flex">
                                <input type="text" placeholder="Enter Email Adress">
                                <input type="submit" value="Subscribe" class="submitt px-3">

                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section class="slider">
        <h1>Latest Posts</h1>
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">

            <div id="slides">
                <div id="overflow">
                    <div class="inner">
                        <div class="slide slide_1">
                            <div class="slide-content">

                                <a href="single.html"><img src="~/./images/sliderimage1.jpg" alt=""></a>

                            </div>
                        </div>
                        <div class="slide slide_2">
                            <div class="slide-content">
                                <a href="single.html"><img src="~/./images/sliderimage2.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="slide slide_3">
                            <div class="slide-content">
                                <a href="single.html"><img src="~/./images/sliderimage3.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="slide slide_4">
                            <div class="slide-content">
                                <a href="single.html"><img src="~/./images/sliderimage4.jpg" alt=""></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>

            </div>
            <div id="bullets">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>

            </div>
        </div>

    </section>
    <section class="slidertext">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="single.html"><h1>Bitter Chocolate</h1></a>
                    <h5>Date:02.01.2022</h5>
                    <p>
                        Chocolate is a popular sweet treat enjoyed by people all around the world. It is made from
                        the beans of the cacao tree (Theobroma cacao), which are fermented, dried, roasted, and then
                        processed to create cocoa solids and cocoa butter. These components are used to produce
                        various types of chocolate.Types of Chocolate: There are several types of chocolate,
                        including:

                        Dark Chocolate: Contains a high percentage of cocoa solids and little to no milk solids. It
                        has a rich and intense flavor.
                        Milk Chocolate: Contains cocoa solids, cocoa butter, milk solids, and sugar, giving it a
                        creamy and sweeter taste.
                    </p>

                </div>
                <div class="col-md-6">
                    <a href="single.html"><h1>Blackberry Cheesecake</h1></a>
                    <h5>Date:05.06.2021</h5>

                    Cheesecake is a delicious and indulgent dessert that is loved by many around the world. It
                    typically consists of a crust made from crushed cookies or graham crackers, which is filled with
                    a creamy mixture of cream cheese, sugar, eggs, and flavorings. The cheesecake is then baked
                    until firm and chilled before serving.

                    Here are some key points about cheesecake:

                    Origins: The exact origins of cheesecake are unclear, but it is believed to have been enjoyed by
                    ancient civilizations such as the Greeks and Romans. The earliest recorded recipe for a
                    cheesecake dates back to ancient Greece.

                </div>
                <div class="col-md-6">
                    <a href="single.html"><h1>Strawberry Magnolia</h1></a>
                    <h5>Date:12.06.2019</h5>

                    Magnolias are a large genus of flowering plants that belong to the family Magnoliaceae. These
                    beautiful and often fragrant flowers are native to Asia and the Americas. Magnolias are known
                    for their large, showy blossoms with a variety of shapes and colors, such as white, pink,
                    purple, and yellow. They are commonly grown as ornamental trees and shrubs in gardens and parks.

                    It's possible that the term "strawberry magnolia" could refer to a hybrid or a specific variety
                    of magnolia with pink or reddish blooms that bear some resemblance to strawberries, but this
                    information might not be up-to-date or universally recognized.

                </div>
                <div class="col-md-6">
                    <a href="single.html"><h1>Tropical Fruit Cake</h1></a>
                    <h5>Date:07.10.2023</h5>


                    A cake with fruits is a delightful dessert that combines the sweetness and moisture of cake with
                    the natural flavors and juiciness of fresh or cooked fruits. There are numerous ways to
                    incorporate fruits into cakes, and the type of fruit used can vary based on personal preferences
                    and seasonal availability. Here are some common types of fruit cakes:

                    Fresh Fruit Cake: This type of cake typically features a sponge or butter cake base topped with
                    a layer of fresh fruits such as strawberries, blueberries, kiwi, peaches, or any other favorite
                    fruit. The fruits can be arranged decoratively on top or mixed into the cake batter before
                    baking.


                </div>
            </div>
        </div>

    </section>

</body>

@section Scripts {
    <script src="./js/script.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/numanimate.js"></script>
    <script src="./js/slider.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
}

